<style>
    @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

    .header{
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .header img{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 80px;
        height: 80px;
    }
    .header-menu{
        margin: 0 auto;
        text-align: center;
        border-style: solid;
        border-color: #ff006c;
        border-right-width: medium;
        border-radius: 25px;
        background-color: white;
        width: 65%;
        height: 50px;
        color: #ff006c;
        font-size: 18px;
        line-height: 50px;
    }
    .header-menu span{
        margin: 10px;
    }
</style>

<div class="header">
    <a href="/main"><img src="Logo2.png"></a>
    <div class="header-menu">
        <a href="/order1"><span>기본 케이크 주문</span></a>
        <a href="/order2"><span>프린팅 케이크 주문</span></a>
        <a hrec="#"><span>마이페이지</span></a>
        <a class="logOut" href="/main/logout"><span>로그아웃</span></a>
    </div>
</div>